<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.huivip.gpsspeedwidget">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /> -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_GPS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-feature android:name="android.hardware.location.gps"/>
    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher"
            android:sharedUserId="android.uid.system"
            android:supportsRtl="true"
            android:theme="@style/Theme.Velociraptor" >
        <meta-data
                android:name="com.amap.api.v2.apikey"
                android:value="6d91e53ca05dee32ec58c9d257224e7b"/>

        <activity android:name=".MainActivity" android:windowSoftInputMode="stateHidden|stateUnchanged">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ConfigurationActivity" android:windowSoftInputMode="stateHidden|stateUnchanged">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <activity android:name="com.amap.api.maps.offlinemap.OfflineMapActivity"/>
        <receiver
                android:name=".GpsSpeedWidget"
                android:icon="@drawable/icon"
                android:label="SpeedMeter">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="GPS_WIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/watch_widget_provider"/>
        </receiver>
        <receiver
                android:name=".GpsSpeedNumberWidget"
                android:icon="@drawable/icon_number"
                android:label="SpeedNumber">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="GPS_WIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/number_widget_provider"/>
        </receiver>
        <receiver android:name=".MessageReceiver">
            <intent-filter>
                <action android:name="com.huivip.recordGpsHistory.start"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".listener.AutoMapBoardReceiver">
            <intent-filter>
                <action android:name="AUTONAVI_STANDARD_BROADCAST_SEND"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <service android:name="com.amap.api.location.APSService"></service>
        <receiver android:name=".listener.AutoFTPBackupReceiver"/>
        <receiver android:name=".listener.AutoLaunchSystemConfigReceiver"/>
        <receiver android:name=".listener.BootStartReceiver" android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
                <action android:name="android.intent.action.ANY_DATA_STATE"/>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.DATE_CHANGED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".listener.ThirdSoftLaunchReceiver"/>
        <receiver android:name=".listener.GoToHomeReceiver"/>
        <receiver android:name=".listener.WeatherServiceReceiver"/>
        <receiver android:name=".listener.DateChangeReceiver"/>
        <service android:name=".GpsSpeedService"/>
        <service android:name=".FloatingService"/>
        <service android:name=".RecordGpsHistoryService"/>
        <service android:name=".NaviFloatingService"/>
        <service android:name=".AutoNaviFloatingService"/>
        <service android:name=".MeterFloatingService"/>
        <service android:name=".speech.AudioFocusService"/>
        <service android:name=".BootStartService"/>
        <service
                android:name=".listener.AutoMapNotificationListener"
                android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
                android:name=".detection.AppDetectionService"
                android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                    android:name="android.accessibilityservice"
                    android:resource="@xml/accessibility_service"/>
        </service>

        <activity android:name=".AudioTestActivity" android:windowSoftInputMode="stateHidden|stateUnchanged">
        </activity>
        <activity android:name=".BackupGPSHistoryActivity" android:windowSoftInputMode="stateHidden|stateUnchanged"></activity>
        <activity android:name=".appselection.AppSelectionActivity"></activity>
    </application>

</manifest>